-
    var topNavigationList = [
        {label: 'Home', link: '/'},
        {label: 'About Me', link: '/about-me'},
        {label: 'Skills', link: '/skills'},
        {label: 'Experience', link: '/experience'},
        {label: 'Clients', link: '/clients'},
    ];
nav
    each navigation in topNavigationList
       if navigation.label == landingPage
        a.current(href=`${baseUrl}${navigation.link}`)=navigation.label
       else
        a(href=`${baseUrl}${navigation.link}`)=navigation.label



//- nav
//-     a.current(href="/") Home
//-     a(href="/about-me") About Me
//-     a(href="/skills") Skills
//-     a(href="/experience") Experience
//-     a(href="/clients") Clients
