nav {
    display: flex;
    justify-content: center;
    border: 1.5px solid red;
    background-color: #35424a;
    min-height: 40px;
    a:hover { 
        opacity: .2;
        color: #18FB20;
    }
}

a {
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: right;
    margin: 0 20px;
    color: #ffffff; 
}

