.about-me {

    display: flex;
    width: 100%;
    // background-image: radial-gradient(
    //     ellipse, 
    //     $color-pastel-green, 
    //     $color-algae-green
    // );
}

.about-me__header {
    @extend %header;
}

.about-me__avatar {
    height: 250px;
    border-radius: 15%;
    border: 0.5rem solid $color-catalina-blue;
    
}


.about-me__avatar-wrapper {
}

.about-me__details {
    font-size: 1.4rem;
    padding: 10rem 10rem;
    
}

