extends ../_component/layout/base

block config
    -
        var myTitle = 'CV online';
        var myDescription = 'my first cv online';


block content
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
