extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'My CV online';
        var myDescription = 'This is an online version of my CV';
        var landingPage = 'About Me';
        var activeLink = '';

block awesome-content
    h1 # About Me
    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    
