extends _component/layout/base

block config
    -
        var myTitle = 'Clients Section';
        var myDescription = 'This is Clients Section';


block content
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
