@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a4jq3z');
  src:  url('fonts/icomoon.eot?a4jq3z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a4jq3z') format('truetype'),
    url('fonts/icomoon.woff?a4jq3z') format('woff'),
    url('fonts/icomoon.svg?a4jq3z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-file-word:before {
  content: "\eae1";
}
