extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'My CV online';
        var myDescription = 'This is an online version of my CV';
        var landingPage = 'About Me';
        var activeLink = '';

block awesome-content
    h3 de ce nu merges    
