extends _component/layout/base

block config
    -
        var myTitle = 'Experience Section';
        var myDescription = 'This is my experience in web developing';


block content
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
