doctype html
html
    head
        title CV online
        meta(name="description", content="my first cv online")
        link(rel="stylesheet", href="style.css")
    body
        include _component/header/header        
        include _component/nav/nav  

        article 
            block content

        include _component/footer/footer