doctype html
html
    head
        title CV online
        meta(name="description", content="my first cv online")
        link(rel="stylesheet", href="style.css")
    body
        include ../header/header       
        include ../nav/nav  

        article 
            block content

        include ../footer/footer