doctype html
html
    head
        title My CV online
        meta(name="description", content="This is an online version of my CV")
        link(rel="stylesheet", href="style.css")
    body
        include ../header/header
        include ../nav/nav        
        article
            block awesome-content
        include ../footer/footer