extends ../_component/layout/base

block config
    -
        var myTitle = 'Skills Section';
        var myDescription = 'All about my super powers';


block content
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
