extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'My CV online';
        var myDescription = 'This is an online version of my CV';
        var landingPage = 'Skills';
        var activeLink = '';


block awesome-content
    h1 hello
