.footer {
    background: linear-gradient(
        to bottom,
        rgba(116, 10, 10, 0.3) 0,
        rgb(152, 170, 147)  50%   
    )   ;
    display: flex;
    justify-content: center;
    height: 80px;
    // min-height: 100%;
    // flex-direction: row;
}

ul.footer{
}

.footer__social {
    font-size: 1.5rem;
    // color: black;
    display: flex;
    // color: white;
    // flex-direction: row;

}

.footer__box-message,
.footer__box-radio, 
#footer__box-reset {
    display: none;

}

.footer__box-reset-label {
    cursor: pointer;
}

.footer__box-reset {
    padding: 0.3rem;
    display: inline;
}

.footer__box-radio:checked + .footer__box-message {
    display: block;


}

a.footer__link {
    color: white;
    text-decoration: none;
}

.footer__title {
    color: white;
}

.footer div {
    color: white;
}

