.footer {
    background-color: #2222;
    display: flex;
    justify-content: center;
    height: 80px;
    // min-height: 100%;
    // flex-direction: row;
}

ul.footer{
}

.footer__social {
    font-size: 1.5rem;
    color: black;
    display: flex;
    // flex-direction: row;

}

.footer__box-body {
    
}