footer 
    div &copy; by Bogdan Negura
    div Call 
        div mobile: 0123456987
        div Fax: 0123456987
    div Follow
        ul
            li.cv-online__icon--facebook2 facebook
            li.cv-online__icon--twitter twiter
            li.cv-online__icon--youtube youtube
