extend _component/layout/template

block awesome-content
    img(src="asset/image/me.jpg")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque dui magna, vel lacinia magna mattis a. Orci varius natoque penatibus et magnis dis parturient.
    a(href="/about-me.pug") Read More

