@import "reset.scss";
@import "_component/font/icon-font";
@import "_component/footer/footer";
@import "_component/config/colors";
@import "_component/config/common";
@import "about-me/about-me";
@import "skills/skills";

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    
    font-family: Arial, Helvetica, sans-serif;
    // background-image: url(http://lorempixel.com/1200/800/);
    background-color: $color-loafer;
    background-size: cover;
    background-position: center center  ;
}

header {
    // background-color: blue;
    height: 150px; 
    justify-content: center;
    

    h1, h3 {
         font-size: 30px;
         color: white;
         font-style: inherit;
        //  margin: 15px;
         padding: 10px;
         text-align: center;
     }
}

nav {
    background-color: $color-catalina-blue;
    height: 42px;
    text-align: center;
    a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        padding: 0 20px;
        display: inline-block;
        margin-top: 10px;
        align-content: center;
    }
    
}

article {
    display: flex;
    
    // background-color: #6E6E6E;
    // background-image: url(http://lorempixel.com/1200/800/);

    height: 220px;
    padding: 2rem;
    min-height: 100%;
    
    
}

