@import "reset.scss";
// @import '_component/nav/nav';

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    
    font-family: Arial, Helvetica, sans-serif;
}

header {
    // grid-row: 1/2;
    // grid-column: 1/2;
    background-color: blue;
    // background-image: url(http://lorempixel.com/1200/800/);
    height: 100px;
    justify-content: center;
    

    h1, h3 {
         font-size: 30px;
        //  color: white;
         font-style: inherit;
        //  margin: 15px;
         padding: 10px;
         text-align: center;
     }
}

nav {
    // grid-row: 2/3;
    // grid-column: 1/2;
    background-color: #424241;
    height: 42px;
    text-align: center;
    // border: 2px solid red;
    a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        padding: 0 15px;
        display: inline-block;
        margin-top: 10px;
        align-content: center;
    }
    
}

article {
    // grid-row: 3/4;
    // grid-column: 1/2;
    background-color: #6E6E6E;
    height: 220px;
    padding: 2rem;
    min-height: 100%;
    
    
}

footer {
    grid-row: 5/6;
    grid-column: 1/2;
    background-color: #2222;
    display: flex;
    justify-content: center;
    // border: 2px solid red;
}