extends ../_component/layout/base

block config
    -
        var myTitle = 'About Me Section';
        var myDescription = 'This secttion its about me';


block content
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
    h1 adadaaa
    p adadaaada
