doctype html
html
    head
        title CV online
        meta(name="description", content="This is my first CV online")
        link(rel="stylesheet", href="style.css")
    body
        header
            h1 Bogdan Negura
            h3 Junior Front-End Developer

            include ../nav/nav     

        //- block content-article


        include ../footer/footer

            